DEV_POSTGRES_DB=buddy_db
DEV_POSTGRES_USER=postgres
DEV_POSTGRES_PASSWORD=postgres123
DEV_DATABASE_URL=jdbc:postgresql://localhost:5433/buddy_db
DEV_DATABASE_USERNAME=postgres
DEV_DATABASE_PASSWORD=postgres123

DEV_REDIS_HOST=localhost
DEV_REDIS_PORT=6379

DEV_PORT=8080

JWT_SECRET=your-secret-key-at-least-256-bits-long
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000
JWT_REFRESH_TOKEN_REMEMBER_ME_EXPIRATION=2592000000

ENCRYPTION_SECRET=your-32-character-secret-key!
APP_ENCRYPTION_ALGORITHM=your-algo

OTP_LENGTH=6
OTP_EXPIRATION_SECONDS=300
OTP_MAX_ATTEMPTS=3
OTP_RESEND_COOLDOWN_SECONDS=60

PENDING_ACCOUNT_EXPIRATION_SECONDS=300

DEV_MAIL_HOST=smtp.gmail.com
DEV_MAIL_PORT=587

DEV_MAIL_USERNAME=your-email@gmail.com
DEV_MAIL_PASSWORD=password

APP_DEFAULT_LOCALE=vi
APP_DEFAULT_TIMEZONE=Asia/Ho_Chi_Minh

UIT_API_URL=https://courses.uit.edu.vn
UIT_MOODLE_SERVER_PATH=/webservice/rest/server.php
UIT_REST_FORMAT=json

COMETCHAT_API_URL=https://api-us.cometchat.io/v3
COMETCHAT_API_KEY=your-cometchat-api-key

SCALAR_PATH=/docs
SCALAR_URL=/v3/api-docs
SCALAR_ENABLED=true


# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
