# Auto detect text files and perform LF normalization
* text=auto

# Force script files to always use LF on checkout (Linux/Docker compatible)
mvnw text eol=lf
*.sh text eol=lf

# Force Windows batch files to use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf